:root {
    --color1: #000;
    --color2: #fff33f;
    --color3: #3fabff;
    --color4: #ff3fab;
    --color5: #dddddd;
    --h1size: 1.5rem;
    --border: 1px solid var(--color2);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 1px solid var(--color5);
}
body {
    height: 100vh;
    background: var(--color1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color3);
}

h1 {
    font-size: var(--h1size);
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-end;
}

select {
    margin-top: 2rem;
    width: fit-content;
    height: 40px;
    background: transparent;
    padding: 7px;
    font-family: Poppins, serif;
    color: var(--color3);
    border: var(--border);
    border-radius: 5px;
}

option {
    color: var(--color3);
}

button {
    border: var(--border);
    background: transparent;
    color: var(--color4);
    border-radius: 5px;
    padding: 5px;
    height: 40px;
}
